<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url | replace: 'http://', '//'}}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-2" style="color:black"><i>{{ site.title }}</i></span>
    </a>
    <a href="{{ site.github.url | replace: 'http://', '//'}}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url | replace: 'http://', '//'}}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url | replace: 'http://', '//'}}/assets/Xiang_CV.pdf">cv</a>
  </nav>
</header>

